#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('../images/LOGIN\ BACKGROUND\ FINAL.jpg');
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(1px);

  }

  #modal-content {
    position: absolute;
    display: flex;
    border-radius: 1px;
    background-color:rgba(0, 0, 0, 0.815);
    height: 650px;
    width: 450px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    margin-top: 124px;
  }

  #modal-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    height: 100vh;



  }

  #login-form-btns{
    height: 40px;
    width:200px;
    top: 10px;
    border: 1px white solid;
  }

  #login-container {
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;


  }


  .header-login-logo {
    height: 250px;
    width: 250px;
    max-width: 450px;
    margin-top: 20px;
    margin-left: 85px;
    display: flex;
  }

  .login-input-fields {
    height: 35px;
    width: 300px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px white solid;
    text-indent: 9px;
    border-radius: 4px;
  }

  #demo-btn {
    width: 200px;
    height: 40px;
    margin-top: 15px;
    border: 1px white solid;
  }

  .login-btns-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 22px;

  }

.login-input-fields3 {
  margin-top:10px;
  height:40px;
  width: 300px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}

.login-input-fields {
  margin-top:10px;
  height:40px;
  width: 300px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}

.login-form-btns {
  display: inline-block;
  outline: none;
  cursor: pointer;

  border-radius: 3px;
  border: 0;
  color: #fff;
  background: #000000;
  font-size: 13px;
  font-weight: bold;

}

.login-form-btns:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 2px #5f6162;
  color: #b1b1b1;

}


.login-footer-text {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;

}

.signup-redirect {
  text-decoration: none;
  color: green;
}

.signup-redirect:hover {
  color: rgb(7, 231, 7);
  font-size:13px;
}
