
.display-body {
    display: flex;
    justify-content:space-evenly;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.photos {

  width: 400px;
  height: auto;
  cursor: pointer;
  transition: all .2s ease-in-out;
  flex-grow: 1;
  margin: 2px;
  position: relative;

 max-height: 250px;
    min-width: 100%;
    object-fit: cover;
}




.photos img:hover {
    display: none;
}

.h1-title {

    color: black;
    text-align: center;
    display: flex;
    align-self: center;


}

.img-li {
    margin: 20px 10px;

}

.photos:hover {
      -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
      transform: scale(1);

}

#photos-container {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 3fr ;
    grid-template-rows: 1fr  2fr 1fr 1fr;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photo-title,
.created,
.location {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.created,
.location {
    font-size: smaller;
    text-decoration: none;
    color: black
}

.location:hover {
    color: aqua;
}

#img-li .image-text-hover {
    position:relative;
    bottom:30px;
    left:14px;
    right: 10px;
    visibility:hidden;
    transition: all .2s ease-in-out;

}

#img-li:hover .image-text-hover {
    font-weight: bold;
    visibility: visible;
    cursor: pointer;
    font-size:12px;
    font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
    text-decoration:solid;
    color: rgb(255, 255, 255);




}

#img-li {
    margin: 6px 3px;
}

.image-text-hover:hover {
    cursor: pointer;
}


/*
/* .display-body {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#img-li {
    flex-grow: 1;
    margin: .2rem;
    overflow: hidden
    ;
}

#img-li img {
    display: block;
    min-width: 100%;
    height: 16rem;
    object-fit: cover;
    transition-duration: 300ms;
}

#img-li img:hover {
    transform: scale(1.1);
} */
