#splash-footer-container{


background-color:rgb(0, 0, 0);






display: flex;
justify-content: space-between;
position: fixed;
bottom: 0;
width: 100vw




}

#splash-footer-nav {

width: 100%;
display: flex;
justify-content: space-evenly;
height: 35px;
align-items: center;

}

.footer-btns {
    text-decoration: none;
    color: grey;
    font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 14px;

    margin-right: 6px;
    font-size: 14px;
    text-align: center;
    text-decoration-style: solid;
    font-weight: 520;

}

.footer-btns:hover {
    color: white;
}
