#splash-footer-container{


background-color:rgba(0, 0, 0, 0.699);






display: flex;
justify-content: space-between;
position: fixed;
bottom: 0;
width: 100vw




}

.tech-3 {
    height: 50px;
    width: 75px;
    background-color: none;
    border: none;
}

.tech-2 {
    height: 40px;
    width: 40px;
    background-color: none;
    border: none;
}

.tech-2:hover {
    box-shadow: 1px 1px 1px grey;
}

#splash-footer-nav {

width: 100%;
display: flex;
justify-content: space-evenly;
height: 45px;
align-items: center;

}

.footer-btns {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
    font-size: 14px;

    margin-right: 6px;
    font-size: 14px;
    text-align: center;
    text-decoration-style: solid;
    font-weight: 520;

}

.footer-btns:hover {
    color: white;
}
