

#splash-text-container {


 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;




}

#splash-title   {
    font-size: 55px;

    font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;

}



#video-bg {
z-index: -1;

}

.video {
    width: 100vw;

    position: absolute;
    overflow: hidden;
}

.video-container{
max-width: 100%;
overflow-x: hidden;
display: flex;
justify-content: center;
z-index: -1;
position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

.splash-nav-container {

height: 100%;
width: 100%;
bottom: 0;
top: 0;
right: 0;

}

.splash-mainBtn {
    height: 64px;
    /* line-height: 64px; */
    min-width: 200px;
    border: none;
    border-radius: 3px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-repeat: stretch;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    margin-top: 50px;

}

.splash-mainBtn:hover{
    color: rgba(139, 139, 133, 0.705);
    cursor: pointer;
    box-shadow: rgba(139, 139, 133, 0.705);
}

.owner{
color: white;
  position: absolute;
  bottom: 110px;
  right: 850px;
  text-decoration: none;


}



.owner:hover {
    cursor: pointer;
    color: rgba(199, 195, 195, 0.63);
}

.splash-p-tag {
    font-size: 30px;
    color:white;
    font-weight: bold;
    margin-top: 40px;


}



.text-description-container {
    width: 770px


}

#splash-title {
    font-size: 60px;
    color: white;
    overflow-wrap: break-word;
}
