.image-container {
    margin:0;
    padding:0;
    overflow: hidden;

}

 .slider {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.slider,
.slide
 {
    float:left;
    width:20%;
}
figure {
    float:left;
    width:20%;
}

.slider,
.slider-img  {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: no-repeat;
    float: left;

}

figure {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: no-repeat;
    float: left;

}

.slider figure {
    position: relative;
    width:500%;
    margin:0;
    animation:animate 20s infinite;
}

.text-name {
    position:absolute;
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 250px;
    /* background: rgba(0, 0, 0, 0.5); */
    width:100%;
    height: 100vh;


}

@keyframes animate {
    0% {left:0%}
    10% {left:0%}
    12% {left:-100%}
    22% {left:-100%}
    24% {left:-200%}
    34% {left:-200%}
    36% {left:-300%}
    46% {left:-300%}
    47% {left:-400%}
    58% {left:-400%}
    60% {left:-300%}
    70% {left:-300%}
    72% {left:-200%}
    82% {left:-200%}
    84% {left:-100%}
    94% {left:-100%}
    96% {left:0%}


}
