
.splash-signup-btn {

    text-decoration: none;
    font-size: 28px;
    border-radius: 3px;
    background: white;
    border: none;
    height: 50px;


}

.btn-txt {
    text-decoration: none;
    color: black;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-weight: 700;
}

.btn-txt:hover{
    color: grey;
}

.splash-title,
.splash-body-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.top-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(/home/augustinoe/appacademy/Module-5-Resources/soloProject/Project/authenticate-me/frontend/src/images/gorilla1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
} */

 .content-container   {
    height: 100vh;
    width: 100vw;
    background-image: url(/home/augustinoe/appacademy/Module-5-Resources/soloProject/Project/authenticate-me/frontend/src/images/gorilla1.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    backface-visibility:hidden;
    animation: slide 25s  infinite 0s;
    animation-timing-function:ease-in;
    animation-direction:alternate-reverse;
    overflow: hidden;

}
@keyframes slide {
       0%{
        background-image: url(/home/augustinoe/appacademy/Module-5-Resources/soloProject/Project/authenticate-me/frontend/src/images/gorilla1.jpg);

    } 20%{
        background-image: url(/home/augustinoe/appacademy/Module-5-Resources/soloProject/Project/authenticate-me/frontend/src/images/Hippo4.jpg);
    } 40%{
        background-image: url(/home/augustinoe/appacademy/Module-5-Resources/soloProject/Project/authenticate-me/frontend/src/images/Lion3.jpg);
    } 60%{
        background-image: url(/home/augustinoe/appacademy/Module-5-Resources/soloProject/Project/authenticate-me/frontend/src/images/seaTurtle.jpg);
    } 80%{
        background-image: url(/home/augustinoe/appacademy/Module-5-Resources/soloProject/Project/authenticate-me/frontend/src/images/swimmingPig.jpg);
    } 100%{
        background-image: url(/home/augustinoe/appacademy/Module-5-Resources/soloProject/Project/authenticate-me/frontend/src/images/babygorilla2.jpg);
    }
}
