* {
    margin:0;
}

#home-image-btn {
    max-width: 100px;
    max-height: 100px;
    border-radius: 120px;


}
#home-image-btn:hover {
    transform: scale(1.2);
}


#home-btn {
background-color: transparent;
border: none;

}

#home-btn:hover {
    cursor:pointer;

}

#auth-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 965px;
    height: 30px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

}

.entire-container {
display:flex;
align-items: center;
justify-content:flex-start;
margin: 30px 60px;
margin-right: 30px;

}

#photo-btn,
#newPhoto-btn{
    text-decoration: none;
}

#nav-header {

}
