

#home-image-btn {

    width: 100px;
    height:100px;


}
#home-image-btn:hover {
    transform: scale(1.1);
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507) ; */
}

.nav-container {
    height: 45px;
    background-color: rgba(0, 0, 0, 0.815);

}

#home-btn {
background-color: transparent;
border: none;
height: 30px;

}

#home-btn:hover {
    cursor:pointer;

}

#auth-btns-nav {
    display: flex;


    max-width: 98vw;
    height: 50px;

    justify-content: space-between;
    align-items: center;

}

.entire-container {
display:grid;
align-items: center;
width: 100%;
max-height: 45px;
background-color: transparent;

}

#photo-btn,
#newPhoto-btn{
    text-decoration: none;
    color: white;
    font-size: 19px;
}

#photo-btn:hover {
    color: rgba(255, 255, 255, 0.685);

}

.fa-solid {
    font-size: 30px;
}

#login-splash-btn {
    color: white;
    margin-right: 15px;
}


#login-splash-btn:hover {
    color: rgba(255, 255, 255, 0.541);
    cursor: pointer;

}

.fa-user-circle {
    height: 30px;
    width: 30px;

}

.fa-search {
    color: white;
}

.signup-button {
    height: 32px;
    /* line-height: 64px; */
   width: 75px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;


    border-image-repeat: stretch;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;

}

.signup-button:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}

.fa-cloud-arrow-up:hover {
color: rgba(250, 237, 218, 0.801);

}


.profile-btns {
    height: 32px;
    /* line-height: 64px; */
   width: 75px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;


    border-image-repeat: stretch;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;

}

.profile-btns:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}
