

#home-image-btn {
    margin-left: 13px;
    width: 140px;
    border-radius: 120px;


}
#home-image-btn:hover {
    transform: scale(1.25);
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.507) ; */
}

.nav-container {
    height: 58px;

}

#home-btn {
background-color: transparent;
border: none;
height: 30px;

}

#home-btn:hover {
    cursor:pointer;

}

#auth-btns-nav {
    display: flex;


    max-width: 98vw;
    height: 50px;

    justify-content: space-between;
    align-items: center;

}

.entire-container {
display:grid;
align-items: center;
width: 100%;
max-height: 45px;

/* margin: 30px 60px; */
/* margin-right: 30px; */
background-color: transparent;





}

#photo-btn,
#newPhoto-btn{
    text-decoration: none;
    color: white;
    font-size: 19px;
}

#photo-btn:hover {
    color: rgba(255, 255, 255, 0.685);

}

.fa-solid {
    font-size: 30px;
}

#login-splash-btn {
    color: white;
    margin-right: 15px;
}
